.attainment {
	@extend .box-padding;
	background-color: $Background-2;
	@media screen and(max-width: 1920px){
		padding-right: 3rem !important;
		padding-left: 3rem !important;
	}

	@media screen and(max-width: 1640px){
		padding-right: 2rem !important;
		padding-left: 2rem !important;
	}


	&__container{

		@media screen and(max-width: $xxl){
		    min-width: 100%;
		}
	
	}

	&__row{

	}


	/* .attainment__box */
	&__box {
        text-align: left;
		margin-bottom: 40px;
	}


	/* .attainment__item */
	&__item {
        color: $colorText-3; 
	}


	&__mb{
		margin-bottom: 65px;

		@media screen and(max-width: $xxl){
			margin-bottom: 30px;
			text-align: center;
		}


		
	}


	/* .attainment__title */
	&__title {
		font-size: 24px;
        font-weight: 400;
        font-family:$fontFamily-2;
        line-height: 1.33333;

	
	}


	/* .attainment__list */
	&__list {
        margin-top: 25px;
		padding-left: 18px;
		@media screen and(max-width: 1620px){
		    padding-left: 0;
		}
		@media screen and(max-width: $xxl){
			padding-left: 10px;
		}

		&:before{
			top: 6px;
		}


	}


	/* .attainment__link */
	&__link {
		@extend .cursor;
        position: relative;
        display: inline-block;
        color: inherit;
		
      
		@media screen and(min-width: 1920px){
			font-size: 20px;
		}
	}


	&__article{

		@media screen and(max-width: $xxl){
			display: flex;
	    }
		
		@media screen and(max-width: $md){
		    display: block;
		}
	}


	/* .attainment__title-in-Interion */
	&__title-in-Interion {
		color:$colorText-3;
		font-size: 24px;
		margin-bottom: 20px;
		@media screen and(max-width: $xxl){
			margin-top: 60px;
	    }

		@media screen and(max-width: $xl){
			margin-top: 0;
		}

		@media screen and(max-width: $md){
		   margin-top: 30px;

		}
	}

	&__wrap-contant{}


	/* .attainment__text-in-Interion */
	&__text-in-Interion {
		font-size: 18px;
		color: rgba(255, 255, 255, 0.7) !important;

		@media screen and(min-width: 1920px){
			font-size: 20px;
		}

		@media screen and(max-width: $md){
			margin-bottom: 50px;
 
		 }
	}


	/* .attainment__wrap-butn-in-Interion */
	&__wrap-btn-in-Interion {
	    margin-top: 110px 0 40px 0;
		text-align: center;

		@media screen and(min-width: $xl){
			margin-top: 80px;
		}

		@media screen and(max-width: $xxl){
			text-align: left;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			
		}
	}


	/* .attainment__btn-in-interio */
	&__btn-in-interio {
		@extend .button;
		color: $colorText-3;
		background-color: $Background-1;
		border-color: $Background-1;
	}
}



.counter {

	@media screen and(max-width: $xxl){
		display: flex;
		justify-content: center;
	}

	/* .counter__inner */
	&__inner {
		margin: 0 20px;
		max-width: 229px;
		padding: 11px 39px 19px !important;
		border-radius: 4px;
		background: $Background-3;

	

		@media screen and(max-width: $xxl){
			margin: 0 10px ;
		}

		@media screen and(max-width: 1620px){
		   margin-left: 0;
		}

		@media screen and(max-width: $xl){
			margin: 0 0 30px 0;
			
		}

		@media screen and(max-width: $md){
		 min-width: 100%;
		 display: flex;
		 flex-direction: column;
		 align-items: center;

		}
     
	}


	/* .counter__box */
	&__box {
		display: flex;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: .01em;
	}


	/* .counter__number */
	&__number {
        font-size: 80px;
		font-family: $fontFamily-1;
		line-height: 1.2;

		@media screen and(max-width: $lg){
			font-size: 60px;
		}
	}


	/* .counter__plus */
	&__plus {
        top: 1em;
        padding-left: 10px;
        font-size: 24px;
        position: relative;
	}


	/* .counter__title */
	&__title {
		@extend .line-before;
		display: flex;
		position: relative;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.33;
		letter-spacing: .01em;
		text-transform: uppercase;
		
		&:before{
			top: 9px !important;
			width: 29px !important;
			margin-right: 15px !important;
		}
	}
}

