.choose {
    padding: 135px 2px;
    @extend .box-padding;

    &__container{

        @media screen and (min-width: $md) {
            max-width: 960px !important;
        }
    
        @media screen and (min-width: $xl) {
            max-width: 1200px !important;
        }
    }


    &__img-wrap{
        margin-bottom: 30px; 
       
        @media screen and(max-width:1620px){
            padding-left: 0;
        }

        @media screen and(max-width:$md){
            padding: 0;
        } 

        img{
            box-shadow: 0 0 5px #ccc;
            @media screen and(max-width:1462px){
                max-width: 100% !important;
                height: auto !important;
            }  
            
         
        }
    }


    &__content{
       margin-bottom: 30px;
    }


	/* .choose__title */
	&__title {
        @extend .title;
        @extend .line-before;
        text-align: left;
        display: flex;
        margin: 0 0 15px 14px;
        font-weight: 300 !important;

        @media screen and(min-width:$xl){
            margin-bottom: 20px;
        }

        @media screen and(min-width:$xl) and (max-width: 1480px){
            margin: 0 0 15px 0;
        }

       

        &:before {
            top: .6em !important;

            @media screen and(min-width:$xl){
                width: 71px;
                margin-right: 33px;
            }

            @media screen and(min-width:$xl) and (max-width: 1480px){
              display: none;
            }
        }


	}



	/* .choose__paragraph */
	&__paragraph {
        margin: 0 0 15px 0;
        letter-spacing: 0.03em;
        font-weight: 300;
        color: #000000;
        font-size: 16px;
        line-height: 1.77778;
        @media screen and(min-width:$xl){
            margin: 0 0 20px 0;
            font-size: 18px;
            line-height: 25px;
        }

        @media screen and(min-width: 1920px){
            font-size: 20px;
            line-height: 28px;
        }

	}


    &__box-lists{

        @media screen and(max-width:1480px){
           flex-direction:column;
           div{
             width: 100%;
           }
        }

        @media screen and(min-width:$md) and(max-width:$lg){
            flex-direction:row;
            div{
              width: 50%;
            }
        }
    }


	/* .choose__list-marked */
	&__list-marked {
        padding-left: 19px;
        list-style: none;
        @media screen and(max-width:1480px){
            margin: 0;
        }
      
        li{
            position: relative;
        }

        li::before {
            position: absolute;
            display: inline-block;
            left: -15px;
            top: 10px;
            width: 6px;
            height: 6px;
            content: '';
            color: #b7b7b7;
            background-color: #0abab5;
        }
	}


    &__text-marked{
        @extend .choose__paragraph;
    }
}