.last-projects {
	min-width: 100%;
	margin-right: 20px;
	padding: 40px 0px;
	display: grid;
	

	@media screen and(min-width: 1920px) {

		grid-template-columns:repeat(3 , minmax(410px, 1fr));
		grid-gap: 40px;
    }


	@media screen and(max-width: 1920px) {

		grid-template-columns:repeat(auto-fit , minmax(390px, 1fr));
		grid-gap: 20px;
    }


	@media screen and(max-width:$xl) {
		grid-template-columns:repeat(auto-fit , minmax(310px, 1fr));
	
			
	}

	@media screen and(max-width:370px) {
		grid-template-columns:repeat(auto-fit , minmax(210px, 1fr));
	
			
	}



	/* .last-projects__link */
	&__link {

		display: block;
		box-shadow: 0 0 5px #ccc;
		transition:box-shadow .2s;
		transform: translateX(220%);
		opacity: 0;

		@media screen and (min-width:$lg) {
			&:hover{
				box-shadow: 0 0 25px #ccc;
			}
		}

	}

	.last-projects__link.animation-active{
		transform: translateX(0%);
		opacity: 1;
	}

	.project-1{
		transition: transform $animationDuration .3s, opacity $animationDuration .3s ;
	}

	.project-2{
		transition: transform $animationDuration .4s, opacity $animationDuration .4s ;
		@media screen and(max-width:606px) {
			transition: transform $animationDuration .4s, opacity $animationDuration .5s;
		}
	}

	.project-3{
		transition: transform $animationDuration .3s, opacity $animationDuration .3s ;
		@media screen and(min-width:1878px) {
			transition: transform $animationDuration .6s, opacity $animationDuration .6s;
		}

		@media screen and(max-width:606px) {
			transition: transform $animationDuration .5s, opacity $animationDuration .5s;
		}
	}

	.project-4{
		transition: transform $animationDuration .4s, opacity $animationDuration .4s;
	}

	.project-5{
		transition: transform $animationDuration .4s, opacity $animationDuration .4s;
		@media screen and(min-width:1878px) {
			transition: transform $animationDuration .5s, opacity $animationDuration .4s;
		}
	}

}


.card {

	display: block;

	/* .card__wrap-img */
	&__wrap-img {
		width: 100%;
		background-repeat: no-repeat;
		background-size:cover;
		padding-bottom: 75%;
		background-position: center;
	}


	/* .card__caption */
	&__caption {
		padding: 20px;
	}


	/* .card__title */
	&__title {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 500;
		font-size: 14px;
		color: #111;
		padding: 4.6px;
		margin-bottom: 10px;
		font-family: $fontFamily-2;

		@media screen and (min-width:1680px){
			font-size: 20px;

		}
	}
}

