.product {
    @extend .box-padding;
    background-color: $Background-5;


	/* .product__row */
	&__row {
        margin-bottom: 40px;
	}


	/* .product__galary */
	&__galary {
		box-shadow: 0 0 5px #ccc;
		padding: 0 !important;
		overflow: hidden;

        .row{
            margin: 0;
			justify-content: center;

        }
	}


	/* .product__item */
	&__item {
        padding: 0 !important;
		opacity: 0;
		transition: transform $animationDuration $animationDiley , opacity $animationDuration $animationDiley;

	}


	&__item-left{
		transform: translateX(-100%);
	}


	&__item-right{
		transform: translateX(100%);
	}


	&__item-right.animation-active,
	&__item-left.animation-active{
		transform: translateX(0%);
		opacity: 1;
	}


	/* .product__wrap-img */
	&__wrap-img {
        margin-bottom: -8px;

        img{
            @extend .images;
        }
	}


	/* .product__contant */
	&__contant {
		@media screen and(max-width:$lg) {
			margin-top: 40px;
		}
	}


	/* .product__row-contant */
	&__row-contant {
        justify-content: flex-end !important;

		@media screen and(max-width:1620px) {
			justify-content: center !important;
		}

		@media screen and(max-width:$lg) {
			flex-direction: row !important;
			justify-content: center !important;
		}

	}


	/* .product__box */
	&__box {
		padding-bottom: 54px;
		margin-bottom: 25px;
		position: relative;

		@media screen and(max-width:$lg) {
			margin-bottom: 0;

			
		}

		@media screen and(max-width:$md) {
		text-align: center;
			
		}

		&:after{
			content:'';
			width: 70%;
			border-bottom: 1px solid #e5e5e5;
			position: absolute;
			bottom: 0;
			right: 0;

			@media screen and(max-width:$lg) {
				left: 0;
				width: 100%;
			}

			@media screen and(max-width:$md) {
			
					
				}

		}
	}



	/* .product__title */
	&__title {
        @extend .title;
        margin-bottom: 39px;

		@media screen and(max-width:$lg) {
			margin-bottom: 20px;
			
		}

        @media screen and(max-width:1620px) {
            font-size: 30px;
        }

        @media screen and(max-width:$xl) {
            font-size: 20px;
        }

	}

	

	/* .product__text */
	&__text {
        font-size: 18px;

        @media screen and(min-width:1620px) {
            font-size: 22px;
        }
	}

}



.product-counter {

	@media screen and(min-width:$xxl) {
		font-size: 20px;
	}

	@media screen and(max-width:$lg) {
		padding-left: 4rem;
		
	}

	@media screen and(max-width:$md) {
		padding-left: 0;
		display: flex;
		justify-content: space-around;
		
	}

		@media screen and(max-width: $sm) {
			flex-direction: column;
			justify-content: center;
			padding-left: 2rem;
		}
	
	/* .product-counter__wrap */
	&__wrap {
        display: flex;
	}


	/* .product-counter__box-left */
	&__box-left {
	}


	/* .product-counter__counter */
	&__counter {
        font-size: 100px;
        color:$colorText-1;

		
	}

	/* .product-counter__box-right */
	&__box-right {
        padding-top: 2.9em;
        padding-left: 16px;
        font-size: 15px;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		@media screen and(max-width:$lg) {
		padding-top: 20px;
			
		}
	}


	/* .product-counter__postfix */
	&__postfix {
        position: relative;
        font-size: 24px;
        line-height: 1;
	}


	/* .product-counter__title */
	&__title {
        font-weight: 400;
        line-height: 1.333;
        text-transform: uppercase;
        margin-top: 17px;
        font-size: 15px;
	}


	/* .product-counter__list */
	&__list {
		@extend .choose__list-marked;
		margin-top: 45px;

		@media screen and(max-width:$xxl) {
            margin-top: 20px;
        }

		li{
			margin-bottom: 24px;
			font-size: 16px;
			@media screen and(min-width:1620px) {
				font-size: 20px;
			}

		}

	}
}