       <!--Contacts -->
       <footer id="footer" class="contacts">

        <div class="contacts__container container">
            <div class="contacts__row row">
                <div class="address col-sm-6 col-lg-6 col-xl-4">
                    <h3 class="address__title" >Адреса</h3>
                    <ul class="address__list">
                        <li>
                            <p>Львів, вул. Шевченка, 17</p>
                        </li>
                    </ul>
                </div>

                <div class="contact col-sm-6 col-lg-6 col-xl-4">
                    <h3 class="contact__title" >Контакти</h3>
                    
                    <div class="contact__container">
                        <div class="contact__name">Email.</div>
                        <div><a class="contact__link" href="mailto:info@interostory.com.ua">info@interostory.com.ua</a></div>
                    </div>

                </div>

                <div class="subscribe col-md-12  col-xl-4">
                    <h5 class="subscribe__title">Підпишись на оновлення</h5>
                    <form class="subscribe__form col-md-12" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate">
                        <div class="subscribe__form-wrap ">
                            <div class="subscribe__icon  mdi mdi-email-outline"></div>
                            <input class="subscribe__input" id="footer-email" type="email" name="email" data-constraints="@Email @Required"><span class="form-validation"></span>
                            <label class="subscribe__label" for="footer-email">E-mail</label>
                        </div>
                        <div class="subscribe__button-wrap">
                            <button class="subscribe__button" type="submit">Підписатися</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </footer>
