
.header-active{
	position:fixed !important;
	top: 0;
	left: 0;
	transform:translateY(-150px);
	transition: transform .3s linear;
	
}

.header{
    width: 100%;
    @media screen and (max-width:$lg){
        min-height: 104px;
    }
   
   
        &__inner{
            width: 100%;
            background-color:$Background-4;
            z-index: 10000;
            position: fixed;
            top: 0;
            left: 0;
            transition: transform  .3s, left .3s;

        
            @media screen and (min-width:$lg){
                display: none;
            }
            
            @media screen and (max-width:$lg){
                padding: 20px 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
    
            @media screen and (max-width:$md){
                padding: 15px;
            }

            

        }

        .inner-transform{
            position: fixed !important;
            top: 0 !important;
            left: 200px;
            transition: left .3s;
        }
        

        &__border-burger{
            z-index: 101;
            display: inline-block;

            @media screen and (max-width:$lg){
                border-radius: 50%;
                background-color: #444444;
                padding: 5px 2px;
            }
        }


        /* .header__burger */
        &__burger {
            @media screen and (max-width:$lg){
                z-index: 3;
                padding: 8px 0px;
                display: block;
            }
        }


        /* header__borger_active */
        &__borger_active {
            @media screen and (max-width:$lg){

                .header__line-burger{
                    transform:rotate(-45deg)
                }

                &:before {
                    opacity:0;
                    top: 0;
                    transform:rotate(45deg)
                }

                &:after {
                    bottom: 0;	
                    transform:rotate(-90deg)
                }
            }
        }


        /* .header__line-burger */
        &__line-burger {
            @media screen and (max-width:$lg){
                background-color: $Background-4;
                display: none;
                width: 25px;
                height: 2px;
                margin: 7px;
                position: relative;
                z-index: 3;
                display: flex;  
                order: 3;

                &:before,
                &:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    border-radius: 20px;
                    background-color:$Background-4;
                }

                &:before {
                    top: -8px;
                }

                &:after {
                    bottom: -8px;
                }
            }
        }


        &__wrap-logo{
            width: 120px;
            height: auto;
            max-height: 150px;
        }


        &__logo{
            @extend .img-logo;
        }

}




