.sidebar {
    width: 30%;
    padding: 40px;
	display: flex;
	flex-direction: column;
    color:$colorText-2;
	min-height: 320px;
	height: 100vh;
	overflow-y: auto !important;
	position: sticky ;
	top: 0;
	left: 0;
	z-index: 10000;
	background-color: $Background-4;

    @media screen and (max-width:$lg) {
        position: fixed;
        width: 200px;
        transform: translateX(-100%);
        transition:transform .3s;
        padding: 20px;
	}

	@media screen and (max-width:$md){
          padding: 15px;
	}

  
	/* .sidebar__wrap-logo */
	&__wrap-logo {
        max-width:190px;
        height: auto;
		margin-bottom: 20px;
		align-self: center;
		@media screen and (max-width:$lg){
			max-width:120px;
		}

	}


    &__logo{
        @extend .img-logo;
    }


	/* .sidebar__phone */
	&__phone {
	}


	/* .sidebar__manu */
	&__manu {
	}


	/* .sidebar__list */
	&__list {
		padding: 8px 0;
		margin: 0;
		list-style: none;
		
		li{
			padding: 8px 16px;
		}
	}


	/* .sidebar__link */
	&__link {
		text-decoration: none;
		color: $colorText-2;
		text-transform: uppercase;
		font-size: 13px;
		font-family: $fontFamily-1;
		position: relative;
		display: block;
		line-height:18px;
		padding-left: 7px;

		@media screen and (min-width:$lg){
			&:before{
				content:'';
				width: 2px;
				height: 100%;
				background-color: $colorText-2;
				position:absolute;
				top: 0;
				left: 0px;
				opacity: 0;
			}
	
			&:hover:before{
				opacity: 1;
				transition: .4s;
				
			}
	

		}

		
		@media screen and (min-width: $xxl) {
			font-size: 15px;
		}

		@media screen and (min-width: 1920px) {
			font-size: 20px;
			margin-bottom: 20px;
		}
	
	}

}


/* .phones */
.phones {
	text-transform: uppercase;
	margin-top: 60px;

	/* .phones__list */
	&__list {
		font-size: 13px;
		margin: 0 0 20px 0 ;
		@extend .cursor;

		&:hover{
			.phones__link{
				color:rgba(0, 0, 0, 0.672);
			}
		}

		@media screen and (min-width: $xxl) {
			display: flex;
			font-size: 15px !important;
		}

		@media screen and (min-width: 1920px) {
			font-size: 20px;
		}
		
	
	}

	
	/* .phones__link */
	&__link {
		display: block;
		color:$colorText-1;
		margin-left: 9px;
		@media screen and (max-width: $xxl) {
			margin-top: 9px;
		}
	}
}



/* .networks */
.networks {
	margin: 70px 0 20px;
	display: flex;

	@media screen and (max-width:$lg){
		justify-content: space-between;
		padding: 0 5px;
	}

	/* .network__item */
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		border: 1px solid rgba(0, 0, 0, 0.535);
		box-shadow:inset 0 0 2px #0000002c ,inset 0 0 3px #0000002c;
		border-radius: 50%;
		margin-right: 20px;
		@extend .cursor;
		transition: color .2s, border 1s;
		color:rgba(0, 0, 0, 0.487);


		&:last-child{
			margin-right: 0;
		}

		@media screen and (min-width: $lg) {

			&:hover{
				border: 1px solid black;
				box-shadow:none;
				color:rgb(0, 0, 0);
				transition: color .2s, border .8s;

			}
		}

		@media screen and (max-width: $lg) {
			margin-right: 10px;

		}

		

	
		
	}

	/* .network__facebook */
	&__facebook {
	}

	/* .network__instagram */
	&__instagram {
	}

	/* .network__youtube */
	&__youtube {
	}

}




